.root {
	:global {
		.selected {
			background: #fe5f1e;
		}
	}
	li {
		padding: 10px;
		border: 1px solid #d69b34;
		border-radius: 30px;
		display: inline-block;
		text-align: center;
		cursor: pointer;
		width: 40px;
		height: 40px;
		margin-right: 10px;
		&:hover {
			background: #fe5f1e;
			color: #000;
		}
	}
	a {
		display: inline-block;
		color: #030301;
		width: 40px;
		height: 40px;
		text-align: center;
		padding-right: 20px;
		&:hover {
			color: #000;
		}
	}
}
